@model IEnumerable<Tarea1.Models.Integrante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cargo.Titulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IntegranteId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IntegranteId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IntegranteId })
        </td>
    </tr>
}

</table>
