@model Tarea1.Models.RegistroGuardia

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>RegistroGuardia</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Integrante.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Integrante.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaIngreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaIngreso)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FechaSalida)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FechaSalida)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
